@model ShopGiay.Models.Nhom_Danh_Muc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}


<div>
    <header class="card-header">
        <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-ballot"></i></span>
            Chi tiết Nhóm danh mục
        </p>
    </header>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhóm danh mục
        </dt>

        <dd style="color:cornflowerblue">
            @Html.DisplayFor(model => model.Ten_Nhom_Danh_muc)
        </dd>

    </dl>
</div>
<p>
    <br />
    <div class="field grouped">
        <div class="control">
            <button type="reset" class="button green">
                <a href="@Url.Action("Edit","Nhomdanhmuc")">Sửa</a>
            </button>
        </div>
        <div class="control">
            <button type="reset" class="button red">
                <a href="@Url.Action("Index","Nhomdanhmuc")">Quay lại</a>
            </button>
        </div>
    </div>
</p>
