
@{
    ViewBag.Title = "ForgotPass";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
    <style>

        .Login-form {
            width: 100%;
            max-width: 400px;
            margin: 20px auto;
            background-color: #ffffff;
            border: 5px inset pink;
            border-radius: 30px;
            text-align: center;
            background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
        }

        .input-box {
            padding-top: 15px;
        }

        .btn-box {
            padding-top: 15px;
            padding-bottom: 10px;
            color: black;
        }

        .icon {
            padding: 10px;
            background: pink;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 50%;
            padding: 8px;
            outline: none;
        }

        h1 {
            color: deeppink;
        }
    </style>

</head>
<body>
    <div class="Login-form">
        <form action="" method="post">
            <h1> Đăng Nhập</h1>
            <div class="input-box">
                <i class="fa fa-user icon"></i>
                <input class="input-field" type="email" name="email" id="username" placeholder="Nhập Email tài khoản của bạn" required
                       pattern="^[A-Za-z].{3,}" title="Đây không phải là email!" />
                <div class="text-warning"><label id="error_us"></label></div>
            </div>
            <div>
                <p>
                    @if (ViewBag.loi != null)
                    {
                        <span>@ViewBag.loi</span>
                    }
                </p>

            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-outline-danger" style="color:deeppink">Gửi </button>

            </div>
            <div class="btn-box">
                <a href="@Url.Action("Register","Login")" style="color:deeppink">Đăng Ký</a>
            </div>
        </form>
    </div>
</body>
</html>

